[submodule "extern/json"]
	path = extern/json
	url = https://github.com/rxi/json.lua
[submodule "extern/color"]
	path = extern/color
	url = https://github.com/andOrlando/color.git
[submodule "extern/bling"]
	path = extern/bling
	url = https://github.com/blingcorp/bling.git
